$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
);

$bg-light: rgb(250, 250, 250);
$bg-dark: rgb(32, 44, 55);

$text-light: rgb(255, 255, 255);
$text-dark: rgb(17, 21, 23);

$element-light: rgb(255, 255, 255);
$element-dark: rgb(43, 57, 69);

$input-grey: rgb(133, 133, 133);
$input-white: rgb(255, 255, 255);
