@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
  font-family: 'Nunito Sans', sans-serif;
}