@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@import './_variables.scss';


body {
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 14px;

  a {
    text-decoration: none;
  }

  button {
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .spinner-grow {
    height: 100px;
    width: 100px;
    color: hsl(0, 0%, 52%);
  }

  .scaled {
    transition: transform .5s ease-in-out;
  }

  .scaled:hover {
    transform: scale(105%);
  }



  nav {
    .navbar-brand {
      font-weight: 800;
      font-size: 1.2rem;
    }

    .theme-toggle {
      font-weight: 600;
      gap: 5px;
      padding: 10px;
      border-radius: 8px;
    
      span {
        font-size: 1rem;
      }

    }
  }

  .search-wrap {
    height: 50px;
  }

  .dropdown {

    .custom-toggle {
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      height: 50px;
      width: 190px;

      transition: letter-spacing .5s ease-in-out, font-size .5s ease-in-out;

      &:hover {
        letter-spacing: .5px;
        font-size: 14.5px;
      }
    }

    .dropdown-item {
      font-size: 14px;
      transition: all .5s ease-in-out;
      &:hover {
        letter-spacing: .5px;
        font-size: 14.5px;
        background-color: inherit;
        color: inherit;
      }
    }

    .dropdown-menu.show {
      width: 100%;
    }
  }

  .row-custom {
    display: flex;
    flex-wrap: wrap;
    margin-right: -22px;
    margin-left: -22px;

    @media (max-width: 575px) {
      margin-right: 22px;
      margin-left: 22px;
    }
  }

  .card {
    .card-img-top {
      height: 150px;
      width: 100%;
      object-fit: cover;
    }

    .card-title {
      font-size: 1.1rem;
      font-weight: 800;
    }

    .card-body ul span {
      font-weight: 600;
    }
  }

  .country-page {
    font-size: 16px;

    h4 {
      font-weight: 800;
    }

    ul li {
      padding: 2px 0;
    }

    ul span {
      font-weight: 600;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .btn-nav {
      justify-content: space-between;
      gap: 10px;
      padding: 4px 18px;
    }
  }

  &.light {
    background-color: $bg-light;
    color: $text-dark;

    button,
    a {
      color: $text-dark;
      background-color: $element-light;
    }

    .navbar {
      background-color: $element-light  !important;

      .navbar-brand {
        color: $text-dark;
      }
    }

    .search-wrap {
      background-color: $element-light;
      color: $input-grey;

      input,
      input::placeholder {
        color: $input-grey;
      }
    }

    .dropdown {

      .dropdown-menu.show {
        background-color: $element-light;
      }
    }

    .card {
      background-color: $element-light;
      color: $text-dark;
    }
  }

  &.dark {
    background-color: $bg-dark;
    color: $text-light;

    button,
    a {
      color: $text-light;
      background-color: $element-dark;
    }

    .navbar {
      background-color: $element-dark  !important;

      .navbar-brand {
        color: $text-light;
      }
    }

    .search-wrap {
      background-color: $element-dark;
      color: $input-white;

      input,
      input::placeholder {
        color: $input-white;
      }
    }

    .dropdown {
      .dropdown-menu.show {
        background-color: $element-dark;
      }

      .dropdown-item:hover {
        color: $text-light;
      }
    }

    .card {
      background-color: $element-dark;
      color: $text-light;
    }
  }
}